{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "System": "Warning",
      "Microsoft": "Warning"
    }
  },
  "AppSettings": {
    "ExecutionOptions": {
      "OutputDirectory": "models",
      "PythonPath": "$(PythonPath)"
    }
  }
}